---
const {
    playerClass,
    playerImage,
    playerHP,
    playerMana,
    playerAttack,
    playerPoints

} = Astro.props;

import Icon from "astro-icon";
import { Image } from "astro:assets";
---

<div class="w-1/4 h-5/6 flex flex-col player-card-css justify-evenly p-2">
    <div class="w-full flex justify-center items-center">
        <h5 class="font-semibold text-white"> {playerClass} </h5>
    </div>

    <div class="w-full flex justify-center items-center p-2">
        <div class="w-5/6 h-full flex justify-center items-center">
            <Image 
            src={playerImage}
            alt="image for player class"
            />
        </div>
    </div>

    <div class="w-full h-fit flex flex-col gap-1 p-2">
        <div class="flex gap-1 h-6 items-center justify-center p-2">
            <div class="w-1/6 text-red-600">
                <Icon name="mdi:heart" class="w-7"/>
            </div>
            <div class="w-4/6">
               <hr class="w-full h-1 bg-red-800"> 
            </div>
            <div class="w-1/6">
                <p> {playerHP} </p>
            </div>
        </div>

        <div class="flex gap-1 h-6 items-center justify-center p-2">
            <div class="w-1/6 text-blue-600">
                <Icon name="ph:fire-fill" class="w-7"/>
            </div>
            <div class="w-4/6">
               <hr class="w-full h-1 bg-blue-800"> 
            </div>
            <div class="w-1/6">
                <p> {playerMana} </p>
            </div>
        </div>

        <div class="flex gap-1 h-6 items-center justify-center p-2">
            <div class="w-1/6 text-yellow-600">
                <Icon name="charm:sword" class="w-7"/>
            </div>
            <div class="w-4/6">
               <hr class="w-full h-1 bg-yellow-800"> 
            </div>
            <div class="w-1/6">
                <p> {playerAttack} </p>
            </div>
        </div>

        <div class="flex gap-1 h-6 items-center justify-center p-2">
            <div class="w-1/6 text-green-600">
                <Icon name="mdi:sword-fight" class="w-7"/>
            </div>
            <div class="w-4/6">
               <hr class="w-full h-1 bg-green-800"> 
            </div>
            <div class="w-1/6">
                <p> {playerPoints} </p>
            </div>
        </div>

    </div>
</div>



<style>
    .player-card-css {
        border: 0.1rem double #120b06;
        background: radial-gradient(ellipse at 74% 40%, rgba(56, 77, 89, 1) 29%, rgba(9, 9, 13, 1) 90%);

        box-shadow: 
        inset 5px 5px 20px black,
        5px 5px 15px black,
        5px 5px 35px black;
    }
</style>